/* Import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Give the body a default font family */
body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif;
}

/* Define the next variables in the root */
:root {
  --color-primary: #1B262C;
  --color-secondary: #0F4C75;
  --color-tertiary: #3282B8;
  --color-quaternary: #BBE1FA;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-tertiary);
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--color-primary);
  letter-spacing: 0.1em;
  font-weight: bolder;
}

h1 span {
  display: inline-block;
  animation: letter-appear 0.5s ease-in-out forwards;
  transform: translateY(-100%);
  font-weight: inherit;
}

@keyframes letter-appear {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  animation-delay: 0.5s;
}

h1 span:nth-child(7)
{
  animation-delay: 0.6s;
}
