/* Import the roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* Give the body a default font family */
body {
  background-color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
}

/* Define the next variables in the root */
:root {
  --color-primary: #071952;
  --color-secondary: #0B666A;
  --color-tertiary: #35A29F;
  --color-quaternary: #97FEED;
}