.parallax {
    background-image: none;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container {
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 100%;
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  button[type='submit'] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }